input{
    width:25px
}

body{
  background-image: url(multiback.PNG);
}

#form{
    width:200px;
    text-align: right;
    font-family: arial;
}

#form button{
    display: block;
    text-align: center;
    margin: auto;
}

#interface{
    display: block;
    text-align: center;
    margin:auto;
    width:75%;
    height: auto;
}

#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#problem{
    font-size: 25px;
}

.border{
    margin: auto;
    border: double;
    background-color: white;
}

div{
    text-align: center;
}

#table, #list{
    font-family: arial;
    font-size: 25px;
}

.list{
    width: 25%;
}

p{
    font-size: 25px;
}

#tryAgain, #toTables{
    margin: 6px auto;
    display: block;
}

#listLabel{
    font-size: 17.5px;
}